
.rm-menu .material-icons, .rm-menu [class*=MuiSvgIcon-root] {
  font-size: inherit;
  margin-right: 8px;
  vertical-align: text-bottom;
}
.rm-menu {
  zoom: 1;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  outline: none;
  padding: 0;
  font-size: 0.875rem;
  list-style: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background: #fafafa;
  transition: background .3s, width .2s;
  line-height: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  padding-left: 0;
}
.rm-menu:before, .rm-menu:after {
  content: ' ';
  display: table;
}
.rm-menu:after {
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.rm-menu ul, .rm-menu ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rm-menu-hidden {
  display: none;
}
.rm-menu-item-group-title {
  color: rgba(0, 0, 0, 0.54);
  padding: 8px 16px;
  font-size: 1rem;
  transition: all .3s;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
}
.rm-menu-submenu, .rm-menu-submenu-inline {
  transition: border-color .3s cubic-bezier(0.4, 0, 0.2, 1), background .3s cubic-bezier(0.4, 0, 0.2, 1), padding .15s cubic-bezier(0.4, 0, 0.2, 1);
}
.rm-menu-item:active, .rm-menu-submenu-title:active {
  background: #e3f2fd;
}
.rm-menu-submenu .rm-menu-sub {
  cursor: initial;
  transition: background .3s cubic-bezier(0.4, 0, 0.2, 1), padding .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.rm-menu-item > a {
  display: block;
}
.rm-menu-item-divider {
  height: 1px;
  overflow: hidden;
  line-height: 0;
  background-color: rgba(0, 0, 0, 0.12);
}
.rm-menu-item:hover, .rm-menu-item-active, .rm-menu:not(.rm-menu-inline) .rm-menu-submenu-open, .rm-menu-submenu-active, .rm-menu-submenu-title:hover {
  color: #64b5f6;
}
.rm-menu-horizontal .rm-menu-item, .rm-menu-horizontal .rm-menu-submenu {
  margin-top: -1px;
}
.rm-menu-horizontal > .rm-menu-item:hover, .rm-menu-horizontal > .rm-menu-item-active, .rm-menu-horizontal > .rm-menu-submenu .rm-menu-submenu-title:hover {
  background-color: transparent;
}
.rm-menu-item-selected {
  color: #64b5f6;
}
.rm-menu:not(.rm-menu-horizontal) .rm-menu-item-selected {
  background-color: #e3f2fd;
}
.rm-menu-inline, .rm-menu-vertical, .rm-menu-vertical-left {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.rm-menu-vertical-right {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.rm-menu-vertical.rm-menu-sub, .rm-menu-vertical-left.rm-menu-sub, .rm-menu-vertical-right.rm-menu-sub {
  padding: 0;
  border-right: 0;
  transform-origin: 0 0;
}
.rm-menu-horizontal.rm-menu-sub, .rm-menu-vertical.rm-menu-sub, .rm-menu-vertical-left.rm-menu-sub, .rm-menu-vertical-right.rm-menu-sub {
  min-width: 160px;
}
.rm-menu-item, .rm-menu-submenu-title {
  cursor: pointer;
  margin: 0;
  padding: 0 20px;
  display: block;
  position: relative;
  transition: color .3s cubic-bezier(0.4, 0, 0.2, 1), border-color .3s cubic-bezier(0.4, 0, 0.2, 1), background .3s cubic-bezier(0.4, 0, 0.2, 1), padding .15s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}
.rm-menu > .rm-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  padding: 0;
  overflow: hidden;
  line-height: 0;
  background-color: rgba(0, 0, 0, 0.12);
}
.rm-menu-vertical .rm-menu-submenu-selected, .rm-menu-vertical-left .rm-menu-submenu-selected, .rm-menu-vertical-right .rm-menu-submenu-selected {
  color: #64b5f6;
}
.rm-menu-horizontal {
  border: 0;
  box-shadow: none;
  line-height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.rm-menu-inline {
  width: 100%;
}
.rm-menu-inline-collapsed {
  width: 80px;
}
.rm-menu-item-group-list {
  margin: 0;
  padding: 0;
}
.rm-menu-root.rm-menu-vertical, .rm-menu-root.rm-menu-vertical-left, .rm-menu-root.rm-menu-vertical-right, .rm-menu-root.rm-menu-inline {
  box-shadow: none;
}
.rm-menu-sub.rm-menu-inline {
  border: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}
.rm-menu-item-disabled, .rm-menu-submenu-disabled {
  color: rgba(0, 0, 0, 0.38) !important;
  cursor: not-allowed;
  background: none;
  border-color: transparent !important;
}
.rm-menu-dark, .rm-menu-dark .rm-menu-sub {
  color: rgba(255,255,255,.65);
  background: #001529;
}
.rm-menu-dark.rm-menu-submenu-popup {
  background: transparent;
}
.rm-menu-dark .rm-menu-inline.rm-menu-sub {
  background: #000c17;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .45) inset;
}
.rm-menu-dark.rm-menu-horizontal {
  border-bottom-color: #001529;
}
.rm-menu-dark.rm-menu-horizontal > .rm-menu-item, .rm-menu-dark.rm-menu-horizontal > .rm-menu-submenu {
  border-color: #000c17;
  border-bottom: 0;
}
.rm-menu-dark .rm-menu-item, .rm-menu-dark .rm-menu-item-group-title, .rm-menu-dark .rm-menu-item > a {
  color: rgba(255,255,255,.65);
}
.rm-menu-dark.rm-menu-inline, .rm-menu-dark.rm-menu-vertical, .rm-menu-dark.rm-menu-vertical-left, .rm-menu-dark.rm-menu-vertical-right {
  border-right: 0;
}
.rm-menu-dark.rm-menu-inline .rm-menu-item, .rm-menu-dark.rm-menu-vertical .rm-menu-item, .rm-menu-dark.rm-menu-vertical-left .rm-menu-item, .rm-menu-dark.rm-menu-vertical-right .rm-menu-item {
  left: 0;
  margin-left: 0;
  border-right: 0;
}
.rm-menu-dark.rm-menu-inline .rm-menu-item, .rm-menu-dark.rm-menu-inline .rm-menu-submenu-title {
  width: 100%;
}
.rm-menu-dark .rm-menu-item:hover, .rm-menu-dark .rm-menu-item-active, .rm-menu-dark .rm-menu-submenu-active, .rm-menu-dark .rm-menu-submenu-open, .rm-menu-dark .rm-menu-submenu-selected, .rm-menu-dark .rm-menu-submenu-title:hover {
  color: #fff;
  background-color: transparent;
}
.rm-menu-dark .rm-menu-item-selected {
  color: #fff;
  border-right: 0;
}
.rm-menu.rm-menu-dark .rm-menu-item-selected, .rm-menu-submenu-popup.rm-menu-dark .rm-menu-item-selected {
  background-color: #2196f3;
}
.rm-menu-dark .rm-menu-item-disabled, .rm-menu-dark .rm-menu-item-disabled > a, .rm-menu-dark .rm-menu-submenu-disabled, .rm-menu-dark .rm-menu-submenu-disabled > a {
  color: rgba(255,255,255,.35) !important;
  opacity: 0.8;
}
.rm-menu-dark .rm-menu-item-disabled> .rm-menu-submenu-title, .rm-menu-dark .rm-menu-submenu-disabled> .rm-menu-submenu-title {
  color: rgba(255,255,255,.35) !important;
}
.rm-menu-dark .rm-menu-item-selected:after {
  border-right: 0;
}
.rm-menu-dark .rm-menu-item-selected> a, .rm-menu-dark .rm-menu-item-selected > a:hover {
  color: #fff;
}
.rm-menu-dark .rm-menu-item:hover> a, .rm-menu-dark .rm-menu-item-active> a, .rm-menu-dark .rm-menu-submenu-active> a, .rm-menu-dark .rm-menu-submenu-open> a, .rm-menu-dark .rm-menu-submenu-selected> a, .rm-menu-dark .rm-menu-submenu-title:hover> a {
  color: #fff;
}
.rm-menu-dark .rm-menu-item:hover> .rm-menu-submenu-title> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-item:hover > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-item-active> .rm-menu-submenu-title> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-item-active > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-active> .rm-menu-submenu-title> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-active > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-open> .rm-menu-submenu-title> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-open > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-selected> .rm-menu-submenu-title> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-selected > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-title:hover> .rm-menu-submenu-title> .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-submenu-title:hover > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow {
  opacity: 1;
}
.rm-menu-dark .rm-menu-item:hover> .rm-menu-submenu-title> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-item:hover> .rm-menu-submenu-title> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-item:hover > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-item:hover > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-item-active> .rm-menu-submenu-title> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-item-active> .rm-menu-submenu-title> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-item-active > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-item-active > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-active> .rm-menu-submenu-title> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-active> .rm-menu-submenu-title> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-active > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-active > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-open> .rm-menu-submenu-title> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-open> .rm-menu-submenu-title> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-open > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-open > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-selected> .rm-menu-submenu-title> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-selected> .rm-menu-submenu-title> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-selected > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-selected > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-title:hover> .rm-menu-submenu-title> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-title:hover> .rm-menu-submenu-title> .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-submenu-title:hover > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-title:hover > .rm-menu-submenu-title:hover> .rm-menu-submenu-arrow:before {
  background: #fff;
}
.rm-menu-dark.rm-menu-inline .rm-menu-item:after, .rm-menu-dark.rm-menu-vertical .rm-menu-item:after, .rm-menu-dark.rm-menu-vertical-left .rm-menu-item:after, .rm-menu-dark.rm-menu-vertical-right .rm-menu-item:after {
  border-right: 0;
}
.rm-menu-dark .rm-menu-submenu-title .rm-menu-submenu-arrow, .rm-menu-dark .rm-menu-sub .rm-menu-submenu-title .rm-menu-submenu-arrow {
  opacity: 0.45;
  transition: all .3s;
}
.rm-menu-dark .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-dark .rm-menu-sub .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-dark .rm-menu-sub .rm-menu-submenu-title .rm-menu-submenu-arrow:before {
  background: #fff;
}
.rm-menu-item-disabled> a, .rm-menu-submenu-disabled> a {
  color: rgba(0, 0, 0, 0.38) !important;
  pointer-events: none;
}
.rm-menu-item-disabled> .rm-menu-submenu-title, .rm-menu-submenu-disabled> .rm-menu-submenu-title {
  color: rgba(0, 0, 0, 0.38) !important;
  cursor: not-allowed;
}
.rm-menu-sub.rm-menu-inline > .rm-menu-item, .rm-menu-sub.rm-menu-inline > .rm-menu-submenu > .rm-menu-submenu-title {
  height: 40px;
  line-height: 40px;
  list-style-type: disc;
  list-style-position: inside;
}
.rm-menu-sub.rm-menu-inline .rm-menu-item-group-title {
  padding-left: 32px;
}
.rm-menu-item-group-list .rm-menu-item, .rm-menu-item-group-list .rm-menu-submenu-title {
  padding: 0 16px 0 28px;
}
.rm-menu-inline-collapsed > .rm-menu-item, .rm-menu-inline-collapsed> .rm-menu-item-group > .rm-menu-item-group-list > .rm-menu-item, .rm-menu-inline-collapsed> .rm-menu-submenu > .rm-menu-submenu-title {
  left: 0;
  padding: 0 32px !important;
  text-overflow: clip;
}
.rm-menu-inline-collapsed-tooltip {
  pointer-events: none;
}
.rm-menu-inline-collapsed .rm-menu-item-group-title {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 4px;
  text-overflow: ellipsis;
  padding-right: 4px;
}
.rm-menu-inline-collapsed-tooltip .material-icons {
  display: none;
}
.rm-menu-inline-collapsed-tooltip a {
  color: #fff;
}
.rm-menu-inline-collapsed > .rm-menu-item .rm-menu-submenu-arrow, .rm-menu-inline-collapsed> .rm-menu-item-group > .rm-menu-item-group-list > .rm-menu-item .rm-menu-submenu-arrow, .rm-menu-inline-collapsed> .rm-menu-submenu > .rm-menu-submenu-title .rm-menu-submenu-arrow {
  display: none;
}
.rm-menu-inline-collapsed > .rm-menu-item .material-icons, .rm-menu-inline-collapsed > .rm-menu-item [class*=MuiSvgIcon-root], .rm-menu-inline-collapsed> .rm-menu-item-group > .rm-menu-item-group-list > .rm-menu-item .material-icons, .rm-menu-inline-collapsed> .rm-menu-item-group > .rm-menu-item-group-list > .rm-menu-item [class*=MuiSvgIcon-root], .rm-menu-inline-collapsed> .rm-menu-submenu > .rm-menu-submenu-title .material-icons, .rm-menu-inline-collapsed> .rm-menu-submenu > .rm-menu-submenu-title [class*=MuiSvgIcon-root] {
  margin: 0;
  font-size: 16px;
  line-height: 40px;
}
.rm-menu-inline-collapsed > .rm-menu-item .material-icons+ span, .rm-menu-inline-collapsed > .rm-menu-item [class*=MuiSvgIcon-root]+ span, .rm-menu-inline-collapsed> .rm-menu-item-group > .rm-menu-item-group-list > .rm-menu-item .material-icons+ span, .rm-menu-inline-collapsed> .rm-menu-item-group > .rm-menu-item-group-list > .rm-menu-item [class*=MuiSvgIcon-root]+ span, .rm-menu-inline-collapsed> .rm-menu-submenu > .rm-menu-submenu-title .material-icons+ span, .rm-menu-inline-collapsed> .rm-menu-submenu > .rm-menu-submenu-title [class*=MuiSvgIcon-root]+ span {
  display: inline-block;
  opacity: 0;
  max-width: 0;
}
.rm-menu-vertical .rm-menu-item, .rm-menu-vertical-left .rm-menu-item, .rm-menu-vertical-right .rm-menu-item, .rm-menu-inline .rm-menu-item {
  position: relative;
}
.rm-menu-vertical .rm-menu-item, .rm-menu-vertical .rm-menu-submenu-title, .rm-menu-vertical-left .rm-menu-item, .rm-menu-vertical-left .rm-menu-submenu-title, .rm-menu-vertical-right .rm-menu-item, .rm-menu-vertical-right .rm-menu-submenu-title, .rm-menu-inline .rm-menu-item, .rm-menu-inline .rm-menu-submenu-title {
  height: 40px;
  padding: 0 16px;
  overflow: hidden;
  font-size: 14px;
  margin-top: 4px;
  line-height: 40px;
  margin-bottom: 4px;
  text-overflow: ellipsis;
}
.rm-menu-vertical .rm-menu-submenu, .rm-menu-vertical-left .rm-menu-submenu, .rm-menu-vertical-right .rm-menu-submenu, .rm-menu-inline .rm-menu-submenu {
  padding-bottom: 0.01px;
}
.rm-menu-vertical .rm-menu-item:not(:last-child), .rm-menu-vertical-left .rm-menu-item:not(:last-child), .rm-menu-vertical-right .rm-menu-item:not(:last-child), .rm-menu-inline .rm-menu-item:not(:last-child) {
  margin-bottom: 8px;
}
.rm-menu-vertical> .rm-menu-item, .rm-menu-vertical > .rm-menu-submenu > .rm-menu-submenu-title, .rm-menu-vertical-left> .rm-menu-item, .rm-menu-vertical-left > .rm-menu-submenu > .rm-menu-submenu-title, .rm-menu-vertical-right> .rm-menu-item, .rm-menu-vertical-right > .rm-menu-submenu > .rm-menu-submenu-title, .rm-menu-inline> .rm-menu-item, .rm-menu-inline > .rm-menu-submenu > .rm-menu-submenu-title {
  height: 40px;
  line-height: 40px;
}
.rm-menu-vertical .rm-menu-item:after, .rm-menu-vertical-left .rm-menu-item:after, .rm-menu-vertical-right .rm-menu-item:after, .rm-menu-inline .rm-menu-item:after {
  top: 0;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  position: absolute;
  transform: scaleY(.0001);
  transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1), opacity .15s cubic-bezier(0.4, 0, 0.2, 1);
  border-right: 3px solid #2196f3;
}
.rm-menu-inline .rm-menu-item, .rm-menu-inline .rm-menu-submenu-title {
  width: calc(100% + 1px);
}
.rm-menu-inline .rm-menu-submenu-title {
  padding-right: 34px;
}
.rm-menu-inline .rm-menu-selected:after, .rm-menu-inline .rm-menu-item-selected:after {
  opacity: 1;
  transform: scaleY(1);
  transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1), opacity .15s cubic-bezier(0.4, 0, 0.2, 1);
}
.rm-menu-horizontal> .rm-menu-item, .rm-menu-horizontal > .rm-menu-submenu {
  top: 1px;
  float: left;
  position: relative;
  border-bottom: 2px solid transparent;
}
.rm-menu-horizontal:after {
  clear: both;
  height: 0;
  content: '\20';
  display: block;
}
.rm-menu-horizontal> .rm-menu-item:hover, .rm-menu-horizontal> .rm-menu-item-active, .rm-menu-horizontal> .rm-menu-item-open, .rm-menu-horizontal> .rm-menu-item-selected, .rm-menu-horizontal > .rm-menu-submenu:hover, .rm-menu-horizontal > .rm-menu-submenu-active, .rm-menu-horizontal > .rm-menu-submenu-open, .rm-menu-horizontal > .rm-menu-submenu-selected {
  color: #64b5f6;
  border-bottom: 2px solid #64b5f6;
}
.rm-menu-horizontal> .rm-menu-item > a, .rm-menu-horizontal > .rm-menu-submenu > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
}
.rm-menu-horizontal> .rm-menu-item > a:hover, .rm-menu-horizontal > .rm-menu-submenu > a:hover {
  color: #64b5f6;
}
.rm-menu-horizontal> .rm-menu-item > a:before, .rm-menu-horizontal > .rm-menu-submenu > a:before {
  bottom: -2px;
}
.rm-menu-vertical .rm-menu-submenu-selected> a, .rm-menu-vertical-left .rm-menu-submenu-selected> a, .rm-menu-vertical-right .rm-menu-submenu-selected> a {
  color: #64b5f6;
}
.rm-menu-submenu-popup {
  z-index: 1200;
  position: absolute;
  border-radius: 4px;
}
.rm-menu-submenu > .rm-menu {
  border-radius: 4px;
  background-color: #fafafa;
}
.rm-menu-submenu-vertical> .rm-menu-submenu-title .rm-menu-submenu-arrow, .rm-menu-submenu-vertical-left> .rm-menu-submenu-title .rm-menu-submenu-arrow, .rm-menu-submenu-vertical-right> .rm-menu-submenu-title .rm-menu-submenu-arrow, .rm-menu-submenu-inline> .rm-menu-submenu-title .rm-menu-submenu-arrow {
  top: 50%;
  right: 16px;
  width: 10px;
  position: absolute;
  transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.rm-menu-submenu-vertical> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:after, .rm-menu-submenu-vertical> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:before, .rm-menu-submenu-vertical-left> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:after, .rm-menu-submenu-vertical-left> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:before, .rm-menu-submenu-vertical-right> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:after, .rm-menu-submenu-vertical-right> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:before, .rm-menu-submenu-inline> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:after, .rm-menu-submenu-inline> .rm-menu-submenu-title:hover .rm-menu-submenu-arrow:before {
  background: linear-gradient(to right, #64b5f6, #64b5f6);
}
.rm-menu-submenu-vertical> .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-submenu-vertical> .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-submenu-vertical-left> .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-submenu-vertical-left> .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-submenu-vertical-right> .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-submenu-vertical-right> .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-submenu-inline> .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-submenu-inline> .rm-menu-submenu-title .rm-menu-submenu-arrow:after {
  width: 6px;
  height: 1.5px;
  content: ' ';
  position: absolute;
  background: #fff;
  transition: background .3s cubic-bezier(0.4, 0, 0.2, 1), transform .3s cubic-bezier(0.4, 0, 0.2, 1), top .3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  vertical-align: baseline;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}
.rm-menu-submenu-vertical> .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-submenu-vertical-left> .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-submenu-vertical-right> .rm-menu-submenu-title .rm-menu-submenu-arrow:before, .rm-menu-submenu-inline> .rm-menu-submenu-title .rm-menu-submenu-arrow:before {
  transform: rotate(45deg) translateY(-2px);
}
.rm-menu-submenu-vertical> .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-submenu-vertical-left> .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-submenu-vertical-right> .rm-menu-submenu-title .rm-menu-submenu-arrow:after, .rm-menu-submenu-inline> .rm-menu-submenu-title .rm-menu-submenu-arrow:after {
  transform: rotate(-45deg) translateY(2px);
}
.rm-menu-submenu-open.rm-menu-submenu-inline > .rm-menu-submenu-title .rm-menu-submenu-arrow {
  transform: translateY(-2px);
}
.rm-menu-submenu-open.rm-menu-submenu-inline > .rm-menu-submenu-title .rm-menu-submenu-arrow:after {
  transform: rotate(-45deg) translateX(-2px);
}
.rm-menu-submenu-open.rm-menu-submenu-inline > .rm-menu-submenu-title .rm-menu-submenu-arrow:before {
  transform: rotate(45deg) translateX(2px);
}
.rm-menu-submenu-inline > .rm-menu-submenu-title .rm-menu-submenu-arrow:before {
  transform: rotate(-45deg) translateX(2px);
}
.rm-menu-submenu-inline > .rm-menu-submenu-title .rm-menu-submenu-arrow:after {
  transform: rotate(45deg) translateX(-2px);
}
.rm-menu-submenu > .rm-menu-submenu-title:after {
  transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.rm-menu-item .material-icons, .rm-menu-submenu-title .material-icons {
  min-width: 14px;
  transition: font-size .15s cubic-bezier(0.4, 0, 0.2, 1), margin .3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}
.rm-menu-item .material-icons+ span, .rm-menu-submenu-title .material-icons+ span {
  opacity: 1;
  transition: opacity .3s cubic-bezier(0.4, 0, 0.2, 1), width .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.rm-menu-vertical.rm-menu-sub .rm-menu-item, .rm-menu-vertical-left.rm-menu-sub .rm-menu-item, .rm-menu-vertical-right.rm-menu-sub .rm-menu-item {
  left: 0;
  margin-left: 0;
  border-right: 0;
}
.rm-menu-vertical.rm-menu-sub> .rm-menu-item, .rm-menu-vertical.rm-menu-sub> .rm-menu-submenu, .rm-menu-vertical-left.rm-menu-sub> .rm-menu-item, .rm-menu-vertical-left.rm-menu-sub> .rm-menu-submenu, .rm-menu-vertical-right.rm-menu-sub> .rm-menu-item, .rm-menu-vertical-right.rm-menu-sub> .rm-menu-submenu {
  transform-origin: 0 0;
}
.rm-menu-vertical.rm-menu-sub .rm-menu-item:after, .rm-menu-vertical-left.rm-menu-sub .rm-menu-item:after, .rm-menu-vertical-right.rm-menu-sub .rm-menu-item:after {
  border-right: 0;
}
.rm-menu-item-selected> a, .rm-menu-item-selected > a:hover {
  color: #64b5f6;
}
.rm-menu-item > a:hover {
  color: #64b5f6;
}
.rm-menu-item > a:focus {
  text-decoration: none;
}
.rm-menu-item > a:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  position: absolute;
  background-color: transparent;
}
