.rm-vote {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
}


.rm-vote-star {
    color: #f5a623;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rm-vote-star:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.rm-vote-disabled .rm-vote-star:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.rm-vote-star-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}



/* .rm-vote-star-content:before, .rm-vote-star:before {
    color: #e9e9e9;
    cursor: pointer;
    content:  url('svg/ic_favorite_border_black_24px.svg');
    content:  "hfsdjkahfjk";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: block;
} */

/* .rm-vote-disabled .rm-vote-star-content:before, .rm-vote-disabled .rm-vote-star:before {
    cursor: default;
}

.rm-vote-star-content:before {
    color: transparent;
}
.rm-vote-star-full:before, .rm-vote-star-half .rm-vote-star-content:before {
    color: #f5a623;
} */