.rm-ct-Ui {
    color: #2a3f5f;
    font-family: Verdana;
    border-collapse: collapse;
}
.rm-ct-Ui select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.rm-ct-Ui td.rm-ct-Output {
    vertical-align: top;
}

table.rm-ct-Table {
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
    margin-top: 3px;
    margin-left: 3px;
    font-family: Verdana;
}
table.rm-ct-Table thead tr th,
table.rm-ct-Table tbody tr th {
    background-color: #ebf0f8;
    border: 1px solid #c8d4e3;
    font-size: 8pt;
    padding: 5px;
}

table.rm-ct-Table .rm-ct-ColLabel {
    text-align: center;
}
table.rm-ct-Table .rm-ct-TotalLabel {
    text-align: right;
}

table.rm-ct-Table tbody tr td {
    color: #2a3f5f;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #c8d4e3;
    vertical-align: top;
    text-align: right;
}

.rm-ct-Total,
.rm-ct-GrandTotal {
    font-weight: bold;
}

.rm-ct-RowOrder,
.rm-ct-ColOrder {
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block;
    user-select: none;
    text-decoration: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.rm-ct-AxisContainer,
.rm-ct-Vals {
    border: 1px solid #a2b1c6;
    background: #f2f5fa;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
}

.rm-ct-Renderers {
    padding-left: 5px;
    user-select: none;
}

.rm-ct-Dropdown {
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin: 3px;
}

.rm-ct-DropdownIcon {
    float: right;
    color: #a2b1c6;
}
.rm-ct-DropdownCurrent {
    text-align: left;
    border: 1px solid #a2b1c6;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: 210px;
    box-sizing: border-box;
    background: white;
}

.rm-ct-DropdownCurrentOpen {
    border-radius: 4px 4px 0 0;
}

.rm-ct-DropdownMenu {
    background: white;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #a2b1c6;
    border-top: 1px solid #dfe8f3;
    box-sizing: border-box;
}

.rm-ct-DropdownValue {
    padding: 2px 5px;
    font-size: 12px;
    text-align: left;
}
.rm-ct-DropdownActiveValue {
    background: #ebf0f8;
}

.rm-ct-Vals {
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 12px;
}

.rm-ct-Rows {
    height: 35px;
}

.rm-ct-AxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor: move;
}
.rm-ct-AxisContainer li.rm-ct-Placeholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #a2b1c6;
}
.rm-ct-AxisContainer li.rm-ct-Placeholder span.rm-ct-Attr {
    display: none;
}

.rm-ct-AxisContainer li span.rm-ct-Attr {
    -webkit-text-size-adjust: 100%;
    background: #f3f6fa;
    border: 1px solid #c8d4e3;
    padding: 2px 5px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.rm-ct-Triangle {
    cursor: pointer;
    color: #506784;
}

.rm-ct-HorizList li {
    display: inline-block;
}
.rm-ct-VertList {
    vertical-align: top;
}

.rm-ct-FilteredAttribute {
    font-style: italic;
}

.sortable-chosen .rm-ct-FilterBox {
    display: none !important;
}

.rm-ct-CloseX {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none !important;
}

.rm-ct-DragHandle {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 18px;
    cursor: move;
    color: #a2b1c6;
}

.rm-ct-Button {
    color: #506784;
    border-radius: 5px;
    padding: 3px 6px;
    background: #f2f5fa;
    border: 1px solid;
    border-color: #c8d4e3;
    font-size: 14px;
    margin: 3px;
    transition: 0.34s all cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none !important;
}

.rm-ct-Button:hover {
    background: #e2e8f0;
    border-color: #a2b1c6;
}

.rm-ct-Button:active {
    background: #d1dae6;
}

.rm-ct-FilterBox input {
    border: 1px solid #c8d4e3;
    border-radius: 5px;
    color: #506784;
    padding: 0 3px;
    font-size: 14px;
}

.rm-ct-FilterBox input:focus {
    border-color: #119dff;
    outline: none;
}

.rm-ct-FilterBox {
    z-index: 100;
    width: 300px;
    border: 1px solid #506784;
    background-color: #fff;
    position: absolute;
    text-align: center;
    user-select: none;
    min-height: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.rm-ct-FilterBox h4 {
    margin: 15px;
}
.rm-ct-FilterBox p {
    margin: 10px auto;
}
.rm-ct-FilterBox button {
    color: #2a3f5f;
}
.rm-ct-FilterBox input[type='text'] {
    width: 230px;
    color: #2a3f5f;
    margin-bottom: 5px;
}

.rm-ct-CheckContainer {
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 30vh;
    border-top: 1px solid #dfe8f3;
}

.rm-ct-CheckContainer p {
    margin: 0;
    margin-bottom: 1px;
    padding: 3px;
    cursor: default;
}

.rm-ct-CheckContainer p.selected {
    background: #ebf0f8;
}

.rm-ct-Only {
    display: none;
    width: 35px;
    float: left;
    font-size: 12px;
    padding-left: 5px;
    cursor: pointer;
}

.rm-ct-OnlySpacer {
    display: block;
    width: 35px;
    float: left;
}

.rm-ct-CheckContainer p:hover .rm-ct-Only {
    display: block;
}
.rm-ct-CheckContainer p:hover .rm-ct-OnlySpacer {
    display: none;
}

.rm-ct-RendererArea {
    padding: 5px;
}
